<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <identity impersonate="true"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IgcafePrn">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/gcafePrnSvc/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IgcafePrn" contract="gcafePrnSvc.IgcafePrn"
                name="NetTcpBinding_IgcafePrn" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

  <appSettings>
    <add key="foxproPath" value="Provider=VFPOLEDB.1;Data Source=D:\gwr\DATA\lygOrder.dbc" />
  </appSettings>

</configuration>
