<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gcafeFoxproSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="gcafeFoxproSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="gcafeFoxproSvc.gcafeSvc">
        <endpoint address="" binding="basicHttpBinding" contract="gcafeFoxproSvc.IgcafeSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/gcafeFoxproSvc/gcafeSvc/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <gcafeFoxproSvc.Properties.Settings>
      <setting name="FoxproPath" serializeAs="String">
        <value>Provider=VFPOLEDB.1;Data Source=D:\gwr\DATA\lygOrder.dbc</value>
      </setting>
      <setting name="FoxproPrntrPath" serializeAs="String">
        <value>Provider=VFPOLEDB.1;Data Source=D:\gwr\DATA\printt.dbc</value>
      </setting>
      <setting name="KitchenHuaDanPrinter" serializeAs="String">
        <value>划菜</value>
      </setting>
    </gcafeFoxproSvc.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="gcafeEntities" connectionString="metadata=res://*/gcafeDb.csdl|res://*/gcafeDb.ssdl|res://*/gcafeDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=gcafe;persist security info=True;user id=sa;password=zzq;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <gcafeFoxproSvc.Properties.Settings>
      <setting name="BarHuaDanPrinter" serializeAs="String">
        <value>划菜</value>
      </setting>
    </gcafeFoxproSvc.Properties.Settings>
  </userSettings>
</configuration>